_
_ast.go
lexer
parser
generator
.DS_Store
bin*
pkg*
gisp
ex.gsp
gisp.go
.#*
*.nn.go
nexyacc
old/
ansi-c-yacc-grammar.y
cx.nn.go
cx
cx.go
y.output
test.pl
main
y.output
mersenne-twister.go
test.go
test
out.*
*.o
o
o.go
