<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a [routerLink]="['']" class="navbar-brand">CX Programming Language </a>
      <button class="navbar-toggle" type="button" (click)="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
     <div class="navbar-collapse collapse"
         (collapsed)="collapsed($event)"
         (expanded)="expanded($event)"
         [collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li class="dropdown" dropdown>
          <a class="dropdown-toggle hover" dropdownToggle >About <span class="caret"></span></a>
          <ul class="dropdown-menu" *dropdownMenu  aria-labelledby="themes">
            <li><a routerLink="about">About CX</a></li>
            <li class="divider"></li>
            <li><a routerLink="faq">FAQ</a></li>
            <li><a href="https://www.skycoin.net/">Skycoin</a></li>
          </ul>
        </li>
        <li class="dropdown" dropdown>
          <a class="dropdown-toggle hover" dropdownToggle  aria-expanded="false" >CX <span class="caret"></span></a>
          <ul class="dropdown-menu" *dropdownMenu aria-labelledby="download">
            <li><a [routerLink]="['']">CX Playground</a></li>
            <li class="divider"></li>
            <li><a routerLink="tutorial">Tutorial and Documentation</a></li>
            <li><a routerLink="examples">Examples</a></li>
            <li><a href="/assets/cx.pdf">Specification</a></li>
          </ul>
        </li>
        <li>
          <a href="https://blog.skycoin.net/">Blog</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['']">CX Playground</a></li>
        <li><a href="https://github.com/skycoin/cx" target="_blank">Github Repository</a></li>
      </ul>

    </div>
  </div>
</div>



