{{set . "title" "Documentation"}}
{{template "header.html" .}}

<div class ="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h1>CX Tutorial</h1>
        <p class="lead">Contents</p>

        <ul>
          <li><a href="#introduction">Introduction</a></li>
          <ul>
            <li><a href="#a-compiled-and-interpreted-language">A compiled and interpreted language</a></li>
            <li><a href="#interactive-development">Interactive development</a></li>
            <li><a href="#meta-programming-commands">Meta-programming commands</a></li>
            <li><a href="#cxs-type-system">CX's type system</a></li>
            <li><a href="#cx-playground">CX Playground</a></li>
            <li><a href="#examples">Examples</a></li>
          </ul>
          <li><a href="#program-architecture">Program architecture</a></li>
          <ul>
            <li><a href="#comments">Comments</a></li>
            <li><a href="#packages">Packages</a></li>
            <li><a href="#global-definitions">Global definitions</a></li>
            <li><a href="#program-architecture-structs">Structs</a></li>
            <li><a href="#program-architecture-functions">Functions</a></li>
          </ul>
          <li><a href="#flow-control-structures">Flow-control structures</a></li>
          <ul>
            <li><a href="#if-and-if-else">If and if/else</a></li>
            <li><a href="#while">While</a></li>
            <li><a href="#go-to">Go-to</a></li>
          </ul>
          <li><a href="#functions">Functions</a></li>
          <ul>
            <li><a href="#multiple-return-values">Multiple return values</a></li>
            <li><a href="#named-result-parameters">Named result parameters</a></li>
            <li><a href="#expressions">Expressions</a></li>
          </ul>
          <li><a href="#data">Data</a></li>
          <ul>
            <li><a href="#definitions">Definitions</a></li>
            <li><a href="#data-structs">Structs</a></li>
            <li><a href="#arrays">Arrays</a></li>
          </ul>
          <li><a href="#initialization">Initialization</a></li>
          <ul>
            <li><a href="#variables">Variables</a></li>
          </ul>
          <li><a href="#debugging">Debugging</a></li>
          <li><a href="#stepping">Stepping</a></li>
          <ul>
            <li><a href="#program-halting">Program halting</a></li>
          </ul>
          <li><a href="#affordances">Affordances</a></li>
          <li><a href="#standard-library">Serialization</a></li>
          <li><a href="#standard-library">Standard library</a></li>
          <ul>
            <li><a href="#arithmetic-functions">Arithmetic functions</a></li>
            <li><a href="#flow-control-functions">Flow-control functions</a></li>
            <li><a href="#printing-functions">Printing functions</a></li>
            <li><a href="#identity-functions">Identity functions</a></li>
            <li><a href="#array-functions">Array functions</a></li>
            <li><a href="#casting-functions">Casting functions</a></li>
            <li><a href="#system-functions">System functions</a></li>
            <li><a href="#affordance-inference-functions">Affordance inference functions</a></li>
            <li><a href="#meta-programming-functions">Meta-programming functions</a></li>
            <li><a href="#random-numbers-functions">Random numbers functions</a></li>
            <li><a href="#logical-operators">Logical operators</a></li>
            <li><a href="#relational-operators">Relational operators</a></li>
            <li><a href="#bitwise-operators">Bitwise operators</a></li>
          </ul>
        </ul>
        
      </div>

    </div>
  </div>

  <!-- Introduction start -->
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="introduction">Introduction</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <!-- Content starts -->
        <p>The <a href="/App/Specification">CX specification</a> describes a set of data structures that define the different elements that a CX program can have, along with a set of functions/methods that manipulate these elements in order to execute a program. But these elements are part of a lower level of abstraction called CX Base. In principle, any language that follows the ideas behind CX Base can be considered a CX dialect.</p>

        <p>This tutorial is based on an implementation of CX based on the lexicon, syntax and semantics of <a href="https://golang.org/">Golang</a>. The repository of the whole CX project can be found <a href="https://github.com/skycoin/cx">here</a>. The implementation described in this document can be found under the <i>src/cxgo/</i> directory.</p>

        <h2 id="a-compiled-and-interpreted-language">A compiled and interpreted language</h2>
        <p>CX is designed to be both a compiled and an interpreted language. You can use the interpreted mode to interactively build and test a program, and when performance is an issue, the source code can be compiled. All of the features that can be used in the interpreted mode are accessible to its compiled counterpart, but it must be noted that CX is still a work in progress and this could change in the future.</p>
        
        <h2 id="interactive-development">Interactive development</h2>
        <p>REPL. Add functions, expressions, other elements.</p>
        
        <h2 id="meta-programming-commands">Meta-programming commands</h2>
        <p>Meta-programming commands. Selectors. Affordances. Stepping.</p>
        
        <h2 id="cxs-type-system">CX's type system</h2>

        <p>
          CX supports 13 primitive types:
        </p>
        
        <ul>
          <li>str</li>
          <li>bool</li>
          <li>byte</li>
          <li>i32</li>
          <li>i64</li>
          <li>f32</li>
          <li>f64</li>
          <li>[]bool</li>
          <li>[]byte</li>
          <li>[]i32</li>
          <li>[]i64</li>
          <li>[]f32</li>
          <li>[]f64</li>
        </ul>
        
        <p>
          In CX there is no type inference or implicit type casting. If a function requires a 32 bit integer, you can't send a 64 integer, or any of the two types of floats. For this reason, the <a href="#standard-library">standard library</a> provides native functions that consider each of the primitive types when applicable. For example, there are four versions of the addition function: addI32, addI64, addF32, and addF64.
        </p>

        <p>
          If, for example, you have an <i>i32</i> variable and you want to send it as an argument to a function which only accepts <i>f64</i>, you can use one of the casting functions to explicitly cast the variable to <i>f64</i>. To see the list of available casting functions, have a look at CX's <a href="#standard-library">standard library</a> located at the bottom of this document. This is an example of type casting:
        </p>

        <pre><code class="go">addF64(i32ToF64(3), f32ToF64(5.4))</code></pre>

        <p>
          Character strings in CX need to be enclosed in double quotes, and, unlike other languages such as JavaScript or Go, you can't use single quotes, backquotes or any other enclosing characters. Internally, strings are stored as byte arrays, and one can cast a string to a byte array, and viceversa:
        </p>

        <pre><code class="go">byteToStr([]byte{0, 1, 2})
strToByte("hello")</code></pre>
        
        <p>
          Booleans also have a special representation internally: they are actually 32 bit integers, limited to 1 (true) and 0 (false). Nevertheless, booleans can't be casted to numeric types. In CX, booleans are represented by the words <i>true</i> and <i>false</i>.
        </p>

        <p>
          The programmer can create custom types by using CX structs, which are similar to structs in other programming languages. Structs in CX follow the syntax used in Go. Here is an example of a struct declaration:
        </p>

        <pre><code class="go">type Point struct {
	name str
	x i32
	y i32
}</code></pre>
        
        <h2 id="cx-playground">CX playground</h2>
        
        <p>If you want to try CX programs, you can start doing it right away without downloading the actual interpreter/compiler. In the <a href="/">home page</a> you can find a tool similar to <a href="https://play.golang.org/">Go Playground</a>, where you can write and evaluate any CX program you want.</p>
          
        <h2 id="examples">Examples</h2>
        
        <p>The full list of examples can be accessed by clicking <a href="/App/Examples">here</a>, but one example is shown below, so you don't have to leave this webpage and for you to check how CX's syntax is like.</p>

        <pre><code class="go">package main

func main () (out str) {
     printStr("Hello World!")
}</code></pre>

        <!-- Content ends -->
      </div>
    </div>
    
  </div>
  <!-- Introduction end -->




  <!-- Program architecture start -->
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="program-architecture">Program architecture</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <!-- Content starts -->
        <p>The following sections describe the different elements that can be present in a CX program, and how they interact with each other.</p>

        <h2 id="comments">Comments</h2>
        <p>There are two kinds of comments in CX: one for commenting out a single line, and another one to comment out a block of lines. As in other programming languages, commented lines are not evaluated by the interpreted or the compiler.</p>
        <p>Any sequence of characters after two slashes (//) and until a newline character is found will be commented out, i.e., // comments out a single line.</p>
        <p>Any text enclosed between a slash and an asterisk (/*) and an asterisk and a slash (*/) will be commented out, i.e., /* ... */ can comment out any number of lines.</p>

        <pre><code class="go">package main

func main () (out i32) {
	// This won't be evaluated
	//out := divI32(5, 0) // This won't either

	out := divI32(10, 5) // The program will return 2

	/*
        Comment block
	out := subF32(3.33, 1.11)
	out := subF32(3.33, 1.11)
	out := subF32(3.33, 1.11)
	out := subF32(3.33, 1.11)
        */
}</code></pre>
        
        <h2 id="packages">Packages</h2>
        <p>Packages are a way to create groups of functions and definitions, which don't enter in conflict with other functions and definitions from other packages.</p>

        <pre><code class="go">package Math

var PI f32 = 3.14159

func Square (num f32) (out f32) {
	mulF32(num, num)
}

package Stat

func Mean (vals []f32) (mean f32) {
	if eqI32(lenF32A(vals), 0) {
		printStr("error?")
		halt("Stat.Mean: division by 0")
	}
	var sum f32 = 0.0
	var counter i32 = 0
	while ltI32(counter, lenF32A(vals)) {
		sum = addF32(sum, readF32A(vals, counter))
		counter = addI32(counter, 1)
	}
	mean = divF32(sum, i32ToF32(lenF32A(vals)))
}

func Variance (vals []f32) (variance f32) {
	mean := Mean(vals)
	var sum f32 = 0.0
	var counter i32 = 0
	while ltI32(counter, lenF32A(vals)) {
		sum = Math.Square(subF32(readF32A(vals, counter), mean))
		counter = addI32(counter, 1)
	}
	variance = divF32(sum, i32ToF32(lenF32A(vals)))
}
        </code></pre>

        <p>In the example above, two packages are created: one for math functions and definitions (PI and Square), and another for statistical functions (Mean and Variance). Variance calls a function from the Math package: Square. In order to specify that we want to call the function Square from the package Math, we need to use the full name of that function, which is Math.Square in this case. If we wanted to reference to the PI definition in the Math package, we'd use Math.PI.</p>
        
        <h2 id="global-definitions">Global definitions</h2>
        
        <p>Global definitions are variables that are declared, and possibly initialized, outside of any function or struct. For example:</p>

        <pre><code class="go">package main
var key str = "P6!7^P1Mme)LP+zcE=pH ^z_eg[3$OZY^rRg+D7R:-~7C/Db}w@Q&WX3vGZJXvVJ"
var globalCounter i32

func main () (out i32) {
	var localCounter i32
	out := addI32(localCounter, globalCounter)
}</code></pre>

	<p>Any global or local variable which is not explicitly initialized will be automatically initialized to its corresponding zero-value. For example, 32 bit integer variables are initialized to 0, 32 bit floats are initialized to 0.0, strings to the empty character string (""), booleans to false, etc. Other packages can access to global definitions too by using the definition's full name (e.g., Math.Sqrt. Read more about <a href="#packages">packages</a> to know about accessing definitions and functions from other packages).</p>

        <h2 id="program-architecture-structs">Structs</h2>

        <p>Structs, as in other programming laguages such as C or Golang, are used to create user-defined types. For example:</p>

        <pre><code class="go">type Student struct {
	name str
	controlNumber i32
	age i32
	address str
	smoker bool
}</code></pre>

        <p>The example above illustrates how a struct can be defined in CX. The keyword "type" starts a struct definition, and an identifier for that struct and the keyword "struct" need to follow. The group of variables or fields that will define the user-defined type are enclosed by braces. In this case, a Student type is defined, and has the fields: name, controlNumber, age, address, and a field that indicates if the student is a smoker or not.</p>
        
        <h2 id="program-architecture-functions">Functions</h2>
        
        <p>Functions are the most complex elements in CX, as they can contain many other different elements. First, let's check a function definition that does absolutely nothing:</p>

        <pre><code class="go">func nothing () () {}</code></pre>

        <p>Every function definition needs to start with the keyword "func." Then we need to give this function a name, which is "nothing" in this example. The two pairs of parentheses that follow are used to indicate how many parameters the function is going to receive and return, as well as their names and types. Finally, any expression or statement that we want the function to run needs to be enclosed in the braces. Let's now define a function which prints a name to the console:</p>

        <pre><code class="go">func printName (name str) () {
	printStr(name)
}</code></pre>

        <p>In this case, the function receives a single parameter: name. This parameter needs to be of the string type (str). The one and only expression that is going to be executed when calling this function is printStr(name), which, well, prints to the console the name that was sent. If we want to indicate that a function will receive or return multiple parameters, these need to be separated by a comma. Let's check out another example:</p>

        <pre><code class="go">func multiReturn (num1 i32, num2 i32) (add i32, sub i32, mul i32, div i32) {
	add := addI32(num1, num2)
	sub := subI32(num1, num2)
	mul := mulI32(num1, num2)
	div := divI32(num1, num2)
}</code></pre>

        <p>The multiReturn function (extracted from the <a href="/App/Examples">examples</a> section) illustrates how a multiple input and multiple output function can be defined. This function returns the sum, subtraction, multiplication and division of two numbers.</p>

        <p>To learn more about the elements of a function, have a look at the CX <a href="/App/Examples">examples</a> and the control structures, initialization sections.</p>

        <!-- Content ends -->
      </div>
    </div>
    
  </div>
  <!-- Program architecture end -->
  
  

  


  <!-- Control structures start -->
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="flow-control-structures">Flow-control structures</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <!-- Content starts -->
        <p></p>

        <h2 id="if-and-if-else">If and if/else</h2>
        
        <p>The if and the if/else statements work just like in other programming languages, and its syntax is similar to Go's syntax:</p>

        <pre><code class="go">if gtI32(5, 3) {
	printStr("5 is greater than 3")
}</code></pre>

        <p>The keyword "if" starts an if statement. A condition or predicate needs to follow, which will indicate CX if the following block of statements can be executed or not.</p>

        <pre><code class="go">if eqStr("password123", "password123") {
	printStr("Access granted")
} else {
	printStr("Access denied")
}</code></pre>

        <p>If an "else" keyword follows the first block of statements, you can add a second block of statements. The first block is executed if the predicate evaluates to true, and the second block is executed if the predicate evaluates to false.</p>

        <h2 id="while">While</h2>
        
        <p>The while statement is used to create loops in CX. The "while" keyboard starts a while statement, and a condition or predicate needs to follow it. If the predicate evaluates to true, the block of statements enclosed by braces is executed. After executing this block of statements, the predicate is re-evaluated. If the predicate evaluates again to true, the block of statements will be executed again. This process will be repeated until the predicate evaluates to false.</p>

        <p>The example below shows a simple while loop that prints the numbers from 0 to 9 to the console.</p>
        
        <pre><code class="go">while ltI32(counter, 10) {
	printI32(counter)
	counter = addI32(counter, 1)
}</code></pre>

        <p>The while loop can also be used to iterate over arrays. An example of this process can be seen in the example below, where value in an array of 32 bit floats is accessed and summed to later calculate their mean.</p>
        
        <pre><code class="go">func Mean (vals []f32) (mean f32) {
	if eqI32(lenF32A(vals), 0) {
		printStr("error?")
		halt("Stat.Mean: division by 0")
	}
	var sum f32 = 0.0
	var counter i32 = 0
	while ltI32(counter, lenF32A(vals)) {
		sum = addF32(sum, readF32A(vals, counter))
		counter = addI32(counter, 1)
	}
	mean = divF32(sum, i32ToF32(lenF32A(vals)))
}</code></pre>
        
        <h2 id="go-to">Go-to</h2>
        
        <p>All of the flow-control structures described in this section are internally parsed to structures that use the goTo native function. Actually, if we have a look at the <a href="standard-library">standard library</a>, under the "flow-control functions", we'll see that there's only one function described: goTo.</p>

        <p>The goTo function takes a predicate as its first parameter. If the predicate evaluates to true, the program will move forward or backward the number of lines defined by the second parameter. If the predicate evaluates to true, the number of lines to move forward or backward will be the number defined by the third parameter.</p>
        <p>An example of its use is below. In this example, an implementation of an if statement is defined by the basicIf function.</p>

        <pre><code class="go">func basicIf (num i32) (num i32) {
	pred := gtI32(num, 0)
	goTo(pred, 1, 3)
	printStr("Greater than 0")
	goTo(true, 10, 0)
	printStr("Less than 0")
}</code></pre>
        
        <!-- Content ends -->
      </div>
    </div>
    
  </div>
  <!-- Control structures end -->
  


  <!-- Initialization start -->
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="initialization">Initialization</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <!-- Content starts -->
        <p></p>

        <h2 id="variables">Variables</h2>

        <p>Variables can be declared by using the "var" keyword inside a function. They are similar to definitions, with the difference that the scope of variables is limited to the function where they are declared. This is why they are sometimes referred to as locals, and definitions are sometimes referred to as globals.</p>

        <pre><code class="go">var foo str</code></pre>

        <p>All variable declarations are implicitly initialized to the corresponding zero-value of the variable's type, if they are not explicitly initialized, of course. In the example above, the foo variable is not explicitly initialized, so its value after being declared is "" (an empty string). In order to do an explicit initialization, we can use the "=" keyword, followed by a value to be assigned to this variable:</p>

        <pre><code class="go">var foo str = "Stay awhile and listen!"</code></pre>

        <p>Variables can also be declared and initialized with the values returned by expressions. In this case, the "var" keyword must not be used, and the ":=" keyword has to be used instead of "=". Also, stating the type is not necessary and must not be added, as the variable will adopt the type of the value returned by the expression.</p>

        <pre><code class="go">foo := addI32(5, 10)</code></pre>

        <p>In the example above, after evaluating the expression to the right of the ":=" keyword, the foo variable will be of type i32, and will hold the value 15. The foo variable can change its value later on in the program by using the "=" keyword:</p>

        <pre><code class="go">foo = mulI32(10, 10)</code></pre>
        
        <!-- Content ends -->
      </div>
    </div>
    
  </div>
  <!-- Initialization end -->



  <!-- Debugging start -->
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="debugging">Debugging</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <!-- Content starts -->

        <p>In its development stage, a program in CX should be built and debugged in using the REPL. In the REPL mode, the programmer can control the execution of the program, interactively add and/or remove expressions, functions, structs, modules, etc. Check out the <a href="/App/Examples">examples</a> section to learn more about meta-programming commands.</p>

        <p>If a program is not executed in the REPL mode, and an error is encountered, the program will enter in the REPL mode to give the programmer or administrator the opportunity to fix the error. For example, the programmer can change the values of the local variables, function expressions can be altered, etc.</p>
        
        <!-- Content ends -->
      </div>
    </div>
    
  </div>
  <!-- Debugging end -->
  

  <!-- Standard library start -->
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="standard-library">Standard library</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <!-- Content starts -->
        <p>Every CX program has direct access to a package that defines the native functions. This package is called the "core" package, and it's not necessary to import it nor to append its name to the identifiers of the native functions, e.g., if you want to call addI32, it's not necessary to write core.addI32.</p>

        <p>A description of each of the functions defined in the core package is provided below. These descriptions also include what parameters receive and return, as well as examples of their usage.</p>

        <h2 id="arithmetic-functions">Arithmetic functions</h2>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;addI32 (<i>number i32, number i32</i>) (<i>number i32</i>)</h4>
            <h4>&#8594;addI64 (<i>number i64, number i64</i>) (<i>number i64</i>)</h4>
            <h4>&#8594;addF32 (<i>number f32, number f32</i>) (<i>number f32</i>)</h4>
            <h4>&#8594;addF64 (<i>number f64, number f64</i>) (<i>number f64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>This group of functions perform the addition between two numbers of the same type. A different version of the addition function is provided for each of the supported primitive types.</p>


            <p><b>Examples:</b></p>
            <pre><code class="go">apples := addI32(5, 3)
views := addI64(i32ToI64(1111), i32ToI64(3333))
litres := addF32(3.3, 4.4)
error := addF64(f32ToF64(0.00031331), f32ToF64(0.000025211))</code></pre>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;subI32 (<i>number i32, number i32</i>) (<i>number i32</i>)</h4>
            <h4>&#8594;subI64 (<i>number i64, number i64</i>) (<i>number i64</i>)</h4>
            <h4>&#8594;subF32 (<i>number f32, number f32</i>) (<i>number f32</i>)</h4>
            <h4>&#8594;subF64 (<i>number f64, number f64</i>) (<i>number f64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>This group of functions perform the subtraction between two numbers of the same type. A different version of the subtraction function is provided for each of the supported primitive types.</p>


            <p><b>Examples:</b></p>
            <pre><code class="go">apples := subI32(5, 3)
views := subI64(i32ToI64(3333), i32ToI64(1111))
litres := subF32(3.3, 4.4)
error := subF64(f32ToF64(0.00031331), f32ToF64(0.000025211))</code></pre>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;mulI32 (<i>number i32, number i32</i>) (<i>number i32</i>)</h4>
            <h4>&#8594;mulI64 (<i>number i64, number i64</i>) (<i>number i64</i>)</h4>
            <h4>&#8594;mulF32 (<i>number f32, number f32</i>) (<i>number f32</i>)</h4>
            <h4>&#8594;mulF64 (<i>number f64, number f64</i>) (<i>number f64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>This group of functions perform the multiplication between two numbers of the same type. A different version of the multiplication function is provided for each of the supported primitive types.</p>

            
            <p><b>Examples:</b></p>
            <pre><code class="go">apples := mulI32(5, 3)
views := mulI64(i32ToI64(3333), i32ToI64(1111))
litres := mulF32(3.3, 4.4)
error := mulF64(f32ToF64(0.00031331), f32ToF64(0.000025211))</code></pre>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;divI32 (<i>number i32, number i32</i>) (<i>number i32</i>)</h4>
            <h4>&#8594;divI64 (<i>number i64, number i64</i>) (<i>number i64</i>)</h4>
            <h4>&#8594;divF32 (<i>number f32, number f32</i>) (<i>number f32</i>)</h4>
            <h4>&#8594;divF64 (<i>number f64, number f64</i>) (<i>number f64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>This group of functions perform the division between two numbers of the same type. A different version of the division function is provided for each of the supported primitive types. If the denominator is equal to 0, a division by 0 error is raised.</p>
            
            <p><b>Examples:</b></p>
            <pre><code class="go">apples := divI32(5, 3)
views := divI64(i32ToI64(3333), i32ToI64(1111))
litres := divF32(3.3, 4.4)
error := divF64(f32ToF64(0.00031331), f32ToF64(0.000025211))</code></pre>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;modI32 (<i>number i32, number i32</i>) (<i>number i32</i>)</h4>
            <h4>&#8594;modI64 (<i>number i64, number i64</i>) (<i>number i64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>modI32 and modI64 perform the modulus operation between two numbers of the same type (i32 and i64, respectively). If the denominator is equal to 0, a division by 0 error is raised.</p>

            <p><b>Examples:</b></p>
            <pre><code class="go">remainder := modI32(5, 3)
remainder := modI64(i32ToI64(3333), i32ToI64(1111))</code></pre>
          </div>
        </div>

        <h2 id="flow-control-functions">Flow-control functions</h2>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;goTo (<i>predicate bool, thenLines i32, elseLines i32</i>) (<i>error bool</i>)</h4>
          </div>
          <div class="panel-body">
            <p>goTo evaluates a predicate, and if it evaluates to true, the program advances the number of lines defined by thenLines (second parameter), and if it evaluates to false, the program advances the number of lines defined by elseLines. thenLines and elseLines can be negative numbers.</p>

            <p><b>Example:</b></p>
            <pre><code class="go">func basicIf (num i32) (num i32) {
	pred := gtI32(num, 0)
	goTo(pred, 1, 3)
	printStr("Greater than 0")
	goTo(true, 10, 0)
	printStr("Less than 0")
}</code></pre>
          </div>
        </div>

        <h2 id="printing-functions">Printing functions</h2>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;printStr (<i>object str</i>) (<i>object str</i>)</h4>
            <h4>&#8594;printBool (<i>object bool</i>) (<i>object bool</i>)</h4>
            <h4>&#8594;printByte (<i>object byte</i>) (<i>object byte</i>)</h4>
            <h4>&#8594;printI32 (<i>object i32</i>) (<i>object i32</i>)</h4>
            <h4>&#8594;printI64 (<i>object i64</i>) (<i>object i64</i>)</h4>
            <h4>&#8594;printF32 (<i>object f32</i>) (<i>object f32</i>)</h4>
            <h4>&#8594;printF64 (<i>object f64</i>) (<i>object f64</i>)</h4>
            <h4>&#8594;printBoolA (<i>object []bool</i>) (<i>object []bool</i>)</h4>
            <h4>&#8594;printByteA (<i>object []byte</i>) (<i>object []byte</i>)</h4>
            <h4>&#8594;printI32A (<i>object []i32</i>) (<i>object []i32</i>)</h4>
            <h4>&#8594;printI64A (<i>object []i64</i>) (<i>object []i64</i>)</h4>
            <h4>&#8594;printF32A (<i>object []f32</i>) (<i>object []f32</i>)</h4>
            <h4>&#8594;printF64A (<i>object []f64</i>) (<i>object []f64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>This group of functions take a single argument as their input parameter, prints it the console, and then returns the argument as its output.</p>

            <p><b>Examples:</b></p>
            <pre><code class="go">printStr("greetings stranger!")
printBool(false)
printByte(i32ToByte(50))
printI32(5)
printI64(i32ToI64(10))
printF32(3.14159)
printF64(f32ToF64(3.14159))
printBoolA([]bool{true, false, false})
printByteA([]byte{1, 2, 3, 4})
printI32A([]i32{1, 2, 3, 4})
printI64A([]i64{1, 2, 3, 4})
printF32A([]i64{1.5, 2.5, 3.5, 4.5})
printF64A([]i64{1.5, 2.5, 3.5, 4.5})</code></pre>
          </div>
        </div>

        <h2 id="identity-functions">Identity functions</h2>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;idStr (<i>object str</i>) (<i>object str</i>)</h4>
            <h4>&#8594;idBool (<i>object bool</i>) (<i>object bool</i>)</h4>
            <h4>&#8594;idByte (<i>object byte</i>) (<i>object byte</i>)</h4>
            <h4>&#8594;idI32 (<i>object i32</i>) (<i>object i32</i>)</h4>
            <h4>&#8594;idI64 (<i>object i64</i>) (<i>object i64</i>)</h4>
            <h4>&#8594;idF32 (<i>object f32</i>) (<i>object f32</i>)</h4>
            <h4>&#8594;idF64 (<i>object f64</i>) (<i>object f64</i>)</h4>
            <h4>&#8594;idBoolA (<i>object []bool</i>) (<i>object []bool</i>)</h4>
            <h4>&#8594;idByteA (<i>object []byte</i>) (<i>object []byte</i>)</h4>
            <h4>&#8594;idI32A (<i>object []i32</i>) (<i>object []i32</i>)</h4>
            <h4>&#8594;idI64A (<i>object []i64</i>) (<i>object []i64</i>)</h4>
            <h4>&#8594;idF32A (<i>object []f32</i>) (<i>object []f32</i>)</h4>
            <h4>&#8594;idF64A (<i>object []f64</i>) (<i>object []f64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>This group of functions take a single argument as their input parameter, and then returns the argument as its output. These functions are the equivalent to the math function f(x) = x. These functions might not be of so much use in most programs, but CX uses them to parse programs and are provided to the user (like goTo).</p>

            <p><b>Examples:</b></p>
            <pre><code class="go">printStr("greetings stranger!")
printBool(false)
printByte(i32ToByte(50))
printI32(5)
printI64(i32ToI64(10))
printF32(3.14159)
printF64(f32ToF64(3.14159))
printBoolA([]bool{true, false, false})
printByteA([]byte{1, 2, 3, 4})
printI32A([]i32{1, 2, 3, 4})
printI64A([]i64{1, 2, 3, 4})
printF32A([]i64{1.5, 2.5, 3.5, 4.5})
printF64A([]i64{1.5, 2.5, 3.5, 4.5})</code></pre>
          </div>
        </div>

        <h2 id="array-functions">Array functions</h2>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;readBoolA (<i>array []bool, index i32</i>) (<i>element bool</i>)</h4>
            <h4>&#8594;readByteA (<i>array []byte, index i32</i>) (<i>element byte</i>)</h4>
            <h4>&#8594;readI32A (<i>array []i32, index i32</i>) (<i>element i32</i>)</h4>
            <h4>&#8594;readI64A (<i>array []i64, index i32</i>) (<i>element i64</i>)</h4>
            <h4>&#8594;readF32A (<i>array []f32, index i32</i>) (<i>element f32</i>)</h4>
            <h4>&#8594;readF64A (<i>array []f64, index i32</i>) (<i>element f64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>This group of functions read an element from the given array that corresponds to the element at the given index. If the index exceeds the length of the provided array, an error is raised. If the index is negative, an error is raised.</p>

            <p><b>Examples:</b></p>
            <pre><code class="go">readBoolA([]bool{true, false, true}, 0)
readByteA([]byte{1, 2, 3, 4}, 2)
readI32A([]i32{10, 20, 30, 40}, 3)
readI64A([]i64{10, 20, 30, 40}, 2)
readF32A([]f32{1.1, 2.2, 3.3, 4.4}, 1)
readF64A([]f64{1.1, 2.2, 3.3, 4.4}, 0)</code></pre>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;writeBoolA (<i>array []bool, index i32, element bool</i>) (<i>array []bool</i>)</h4>
            <h4>&#8594;writeByteA (<i>array []byte, index i32, element byte</i>) (<i>array []byte</i>)</h4>
            <h4>&#8594;writeI32A (<i>array []i32, index i32, element i32</i>) (<i>array []i32</i>)</h4>
            <h4>&#8594;writeI64A (<i>array []i64, index i32, element i64</i>) (<i>array []i64</i>)</h4>
            <h4>&#8594;writeF32A (<i>array []f32, index i32, element f32</i>) (<i>array []f32</i>)</h4>
            <h4>&#8594;writeF64A (<i>array []f64, index i32, element f64</i>) (<i>array []f64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>This group of functions write the given element to the given array, at the given index. If the index exceeds the length of the provided array, an error is raised. If the index is negative, an error is raised.</p>

            <p><b>Examples:</b></p>
            <pre><code class="go">writeBoolA([]bool{true, false, true}, 0)
writeByteA([]byte{1, 2, 3, 4}, 2, i32ToByte(10))
writeI32A([]i32{10, 20, 30, 40}, 3, 30)
writeI64A([]i64{10, 20, 30, 40}, 2, i32ToI64(50))
writeF32A([]f32{1.1, 2.2, 3.3, 4.4}, 1, 7.4)
writeF64A([]f64{1.1, 2.2, 3.3, 4.4}, 0, f32ToF64(10.10))</code></pre>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;lenBoolA (<i>array []bool</i>) (<i>length i32</i>)</h4>
            <h4>&#8594;lenByteA (<i>array []byte</i>) (<i>length i32</i>)</h4>
            <h4>&#8594;lenI32A (<i>array []i32</i>) (<i>length i32</i>)</h4>
            <h4>&#8594;lenI64A (<i>array []i64</i>) (<i>length i32</i>)</h4>
            <h4>&#8594;lenF32A (<i>array []f32</i>) (<i>length i32</i>)</h4>
            <h4>&#8594;lenF64A (<i>array []f64</i>) (<i>length i32</i>)</h4>
          </div>
          <div class="panel-body">
            <p>These functions calculate and return the length of the given array.</p>

            <p><b>Examples:</b></p>
            <pre><code class="go">lenBoolA([]bool{true, false, true})
lenByteA([]byte{1, 2, 3, 4})
lenI32A([]i32{10, 20, 30, 40})
lenI64A([]i64{10, 20, 30, 40})
lenF32A([]f32{1.1, 2.2, 3.3, 4.4})
lenF64A([]f64{1.1, 2.2, 3.3, 4.4})</code></pre>
          </div>
        </div>

        <h2 id="casting-functions">Casting functions</h2>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;byteAToStr (<i>array []byte</i>) (<i>string str</i>)</h4>
            <h4>&#8594;strToByteA (<i>string str</i>) (<i>array []byte</i>)</h4>
          </div>
          <div class="panel-body">
            <p>A string is internally represented as an array of bytes. This implies that a byte array can be casted to a character string, and a character string can be casted to a byte array.</p>

            <p><b>Examples:</b></p>
            <pre><code class="go">byteAToStr([]byte{0, 1, 2})
strToByteA("hello")</code></pre>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;i64ToI32 (<i>number i64</i>) (<i>number i32</i>)</h4>
            <h4>&#8594;f32ToI32 (<i>number f32</i>) (<i>number i32</i>)</h4>
            <h4>&#8594;f64ToI32 (<i>number f64</i>) (<i>number i32</i>)</h4>
          </div>
          <div class="panel-body">
            <p>These functions cast their argument to an i32 number.</p>

            <p><b>Examples:</b></p>
            <pre><code class="go">i64ToI32(i32ToI64(5))
f32ToI32(5.12)
f64ToI32(f32ToF64(3.3))</code></pre>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;i32ToI64 (<i>number i32</i>) (<i>number i64</i>)</h4>
            <h4>&#8594;f32ToI64 (<i>number f32</i>) (<i>number i64</i>)</h4>
            <h4>&#8594;f64ToI64 (<i>number f64</i>) (<i>number i64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>These functions cast their argument to an i64 number.</p>

            <p><b>Examples:</b></p>
            <pre><code class="go">i32ToI64(5)
f32ToI64(5.12)
f64ToI64(f32ToF64(3.3))</code></pre>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;i32ToF32 (<i>number i32</i>) (<i>number f32</i>)</h4>
            <h4>&#8594;i64ToF32 (<i>number i64</i>) (<i>number f32</i>)</h4>
            <h4>&#8594;f64ToF32 (<i>number f64</i>) (<i>number f32</i>)</h4>
          </div>
          <div class="panel-body">
            <p>These functions cast their argument to an f32 number.</p>

            <p><b>Examples:</b></p>
            <pre><code class="go">i32ToF32(5)
i64ToF32(i32ToI64(22))
f64ToF32(f32ToF64(3.3))</code></pre>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;i32ToF64 (<i>number i32</i>) (<i>number f64</i>)</h4>
            <h4>&#8594;i64ToF64 (<i>number i64</i>) (<i>number f64</i>)</h4>
            <h4>&#8594;f32ToF64 (<i>number f32</i>) (<i>number f64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>These functions cast their argument to an f64 number.</p>

            <p><b>Examples:</b></p>
            <pre><code class="go">i32ToF64(5)
i64ToF64(i32ToI64(22))
f32ToF64(3.3)</code></pre>
          </div>
        </div>






        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;i64AToI32A (<i>array []i64</i>) (<i>array []i32</i>)</h4>
            <h4>&#8594;f32AToI32A (<i>array []f32</i>) (<i>array []i32</i>)</h4>
            <h4>&#8594;f64AToI32A (<i>array []f64</i>) (<i>array []i32</i>)</h4>
          </div>
          <div class="panel-body">
            <p>These functions cast their argument to an []i32 array.</p>

            <p><b>Examples:</b></p>
            <pre><code class="go">i64AToI32A([]i64{1, 2, 3})
f32AToI32A([]f32{1.1, 2.2, 3.3})
f64AToI32A([]f64{1.1, 2.2, 3.3})</code></pre>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;i32AToI64A (<i>array []i32</i>) (<i>array []i64</i>)</h4>
            <h4>&#8594;f32AToI64A (<i>array []f32</i>) (<i>array []i64</i>)</h4>
            <h4>&#8594;f64AToI64A (<i>array []f64</i>) (<i>array []i64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>These functions cast their argument to an []i64 array.</p>

            <p><b>Examples:</b></p>
            <pre><code class="go">i32AToI64A([]i32{1, 2, 3})
f32AToI64A([]f32{1.1, 2.2, 3.3})
f64AToI64A([]f64{1.1, 2.2, 3.3})</code></pre>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;i32AToF32A (<i>array []i32</i>) (<i>array f32</i>)</h4>
            <h4>&#8594;i64AToF32A (<i>array []i64</i>) (<i>array f32</i>)</h4>
            <h4>&#8594;f64AToF32A (<i>array []f64</i>) (<i>array f32</i>)</h4>
          </div>
          <div class="panel-body">
            <p>These functions cast their argument to an []f32 array.</p>

            <p><b>Examples:</b></p>
            <pre><code class="go">i32AToF32A([]i32{1, 2, 3})
i64AToF32A([]i64{1, 2, 3})
f64ToF32A([]f64{1.1, 2.2, 3.3})</code></pre>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;i32AToF64A (<i>array []i32</i>) (<i>array []f64</i>)</h4>
            <h4>&#8594;i64AToF64A (<i>array []i64</i>) (<i>array []f64</i>)</h4>
            <h4>&#8594;f32AToF64A (<i>array []f32</i>) (<i>array []f64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>These functions cast their argument to an []f64 array.</p>

            <p><b>Examples:</b></p>
            <pre><code class="go">i32AToF64A([]i32{1, 2, 3})
i64AToF64A([]i64{1, 2, 3})
f32ToF64A([]f32{1.1, 2.2, 3.3})</code></pre>
          </div>
        </div>

        <h2 id="system-functions">System functions</h2>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;sleep (<i>milliseconds i32</i>) (<i>milliseconds i32</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Sleep halts a program for the amount of time defined by its argument. The amount of time is given in milliseconds.</p>

            <p><b>Example:</b></p>
            <pre><code class="go">sleep(1000)</code></pre>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;halt (<i>message str</i>) (<i>message str</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Halt is similar to sleep in that a program is paused temporarily. However, halt is usually used to inform the user that an error has been encountered. The program enters REPL mode after a call to halt has been encountered, so the programmer can start modifying the bugged program. Once the programmer has fixed the issues, a :step 0; meta-programming command can be issued to resume execution.</p>

            <p><b>Example:</b></p>
            <pre><code class="go">halt("A score > 1000 has been reached.")</code></pre>
          </div>
        </div>

        <h2 id="affordance-inference-functions">Affordance inference functions</h2>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;setClauses (<i>clauses str</i>) (<i>clauses str</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Clauses are rules and/or facts used by the affordance system to determine if an affordance can be applied or not. setClauses receives a string containing prolog clauses. The programmer can provide the affordance system with any clauses, following any format, as long as the query (see setQuery below) can use them in combination with the defined objects (see addObject below).</p>

            <p></p>

            <p><b>Example:</b></p>
            <pre><code class="go">halt("A score > 1000 has been reached.")</code></pre>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;setQuery (<i>query str</i>) (<i>query str</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;addObject (<i>object str</i>) (<i>object str</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;remObject (<i>object str</i>) (<i>object str</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;remObjects () (<i>error bool</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <h2 id="meta-programming-functions">Random numbers functions</h2>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;randI32 (<i>min i32, max i32</i>) (<i>number i32</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;randI64 (<i>min i64, max i64</i>) (<i>number i64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>


        <h2 id="meta-programming-functions">Meta-programming functions</h2>
        <p>Selectors. Stepping. Debugging (dStack, dProgram, dState). Affordances. Removers. Prolog.</p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;remExpr (<i>fnName str, num i32</i>) (<i>error bool</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;remArg (<i>fnName str</i>) (<i>error bool</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;addExpr (<i>fnName str</i>) (<i>error bool</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;exprAff (<i>filter str</i>) (<i>error bool</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;evolve (<i>fnName str, fnBag str, inputs []f64, outputs []f64, numberExprs i32, iterations i32, epsilon f64</i>) (<i>error f64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <!-- <h2 id="meta-programming-functions">Meta-programming commands</h2>
             <p>Selectors. Stepping. Debugging (dStack, dProgram, dState). Affordances. Removers. Prolog.</p> -->
        

        <h2 id="logical-operators">Logical operators</h2>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;and (<i>premise bool, premise bool</i>) (<i>conclusion bool</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;or (<i>premise bool, premise bool</i>) (<i>conclusion bool</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;not (<i>premise bool</i>) (<i>conclusion bool</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <h2 id="relational-operators">Relational operators</h2>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;ltStr (<i>string str, string str</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;ltByte (<i>number byte, number byte</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;ltI32 (<i>number i32, number i32</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;ltI64 (<i>number i64, number i64</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;ltF32 (<i>number f32, number f32</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;ltF64 (<i>number f64, number f64</i>) (<i>conclusion bool</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;gtStr (<i>string str, string str</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;gtByte (<i>number byte, number byte</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;gtI32 (<i>number i32, number i32</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;gtI64 (<i>number i64, number i64</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;gtF32 (<i>number f32, number f32</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;gtF64 (<i>number f64, number f64</i>) (<i>conclusion bool</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;eqStr (<i>string str, string str</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;eqByte (<i>number byte, number byte</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;eqI32 (<i>number i32, number i32</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;eqI64 (<i>number i64, number i64</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;eqF32 (<i>number f32, number f32</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;eqF64 (<i>number f64, number f64</i>) (<i>conclusion bool</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;lteqStr (<i>string str, string str</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;lteqByte (<i>number byte, number byte</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;lteqI32 (<i>number i32, number i32</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;lteqI64 (<i>number i64, number i64</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;lteqF32 (<i>number f32, number f32</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;lteqF64 (<i>number f64, number f64</i>) (<i>conclusion bool</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;gteqStr (<i>string str, string str</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;gteqByte (<i>number byte, number byte</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;gteqI32 (<i>number i32, number i32</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;gteqI64 (<i>number i64, number i64</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;gteqF32 (<i>number f32, number f32</i>) (<i>conclusion bool</i>)</h4>
            <h4>&#8594;gteqF64 (<i>number f64, number f64</i>) (<i>conclusion bool</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <h2 id="bitwise-operators">Bitwise operators</h2>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;andI32 (<i>number i32, number i32</i>) (<i>number i32</i>)</h4>
            <h4>&#8594;andI64 (<i>number i64, number i64</i>) (<i>number i64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;orI32 (<i>number i32, number i32</i>) (<i>number i32</i>)</h4>
            <h4>&#8594;orI64 (<i>number i64, number i64</i>) (<i>number i64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;xorI32 (<i>number i32, number i32</i>) (<i>number i32</i>)</h4>
            <h4>&#8594;xorI64 (<i>number i64, number i64</i>) (<i>number i64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>&#8594;andNotI32 (<i>number i32, number i32</i>) (<i>number i32</i>)</h4>
            <h4>&#8594;andNotI64 (<i>number i64, number i64</i>) (<i>number i64</i>)</h4>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>
        
        <!-- Content ends -->
      </div>
    </div>
    
  </div>
  <!-- Standard library end -->
  
</div>

  {{template "footer.html" .}}
